/* Variables */
$primary-color: #ffc107; // Yellow
$secondary-color: #28a745; // Green
$success-color: #198754; // Bootstrap success color
$text-color: #464c51; // Gray

/* General Styles */


/* Password visibility toggle */
.xz {
  position: relative;


  .toggle-password {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: #6c757d;
    z-index: 3;
    &:hover {
      
      color: #007bff; // Highlight color on hover
    }
  }
}